In [13]:
import pip

def import_or_install(package):
    try:
        __import__(package)
    except ImportError:
        pip.main(['install', package])

import_or_install("numpy")
import_or_install("pandas")
import_or_install("pickle")

import numpy as np
import pandas as pd
import pickle

In [14]:
def load_csv(filepath):
    data = []
    col = []

    checkcol = False
    with open(filepath) as f:
        for val in f.readlines():
            val = val.split(',')
            if checkcol is False:
                col = val
                checkcol = True
            else:
                data.append(val)
        df = pd.DataFrame(data=data, columns=col)
        return df

In [8]:
num_records = 100

data = {
    'Order ID': np.arange(1, num_records +1),
    'Product': np.random.choice(['Product A', 'Product B', 'Product C'], num_records),
    'Quantity Ordered': np.random.randint(1,100,num_records),
    'Price Each': np.round(np.random.uniform(5.0, 100.0, num_records),2),
    'Order Date': pd.date_range(start='1/1/2021',periods=num_records,freq='D'),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], num_records),
    'Total Sales': lambda x: x['Quantity Ordered']*x['Price Each']
}

df = pd.DataFrame(data)
df['Total Sales'] = df.apply(lambda x: x['Quantity Ordered']*x['Price Each'],axis=1)

In [9]:
#numpy genfromtext example

data = np.genfromtxt('100 Sales Records.csv', delimiter=',', dtype=None,names=True, encoding='utf-8')

pd.DataFrame(data)

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [15]:
file_path = '100_Sales_Records.csv'
df.to_csv

<bound method NDFrame.to_csv of     Order ID    Product  Quantity Ordered  Price Each Order Date Region  \
0          1  Product B                86       24.74 2021-01-01   West
1          2  Product C                66       64.03 2021-01-02   East
2          3  Product C                22       43.58 2021-01-03  South
3          4  Product A                61       44.98 2021-01-04  South
4          5  Product A                82       17.83 2021-01-05  South
..       ...        ...               ...         ...        ...    ...
95        96  Product A                98       15.80 2021-04-06  South
96        97  Product B                17       17.46 2021-04-07   West
97        98  Product A                23       87.74 2021-04-08  South
98        99  Product A                12       34.44 2021-04-09  South
99       100  Product C                68       44.73 2021-04-10  South

    Total Sales
0       2127.64
1       4225.98
2        958.76
3       2743.78
4       1462.06
..          ...
95      1548.40
96       296.82
97      2018.02
98       413.28
99      3041.64

[100 rows x 7 columns]>

In [16]:
#using pickle

with open('test.pkl', 'wb') as f:
    pickle.dump(df, f)

In [19]:
with open('test.pkl', 'rb') as f:
    new_df = pickle.load(f)
    print(new_df)

    Order ID    Product  Quantity Ordered  Price Each Order Date Region  \
0          1  Product B                86       24.74 2021-01-01   West
1          2  Product C                66       64.03 2021-01-02   East
2          3  Product C                22       43.58 2021-01-03  South
3          4  Product A                61       44.98 2021-01-04  South
4          5  Product A                82       17.83 2021-01-05  South
..       ...        ...               ...         ...        ...    ...
95        96  Product A                98       15.80 2021-04-06  South
96        97  Product B                17       17.46 2021-04-07   West
97        98  Product A                23       87.74 2021-04-08  South
98        99  Product A                12       34.44 2021-04-09  South
99       100  Product C                68       44.73 2021-04-10  South

    Total Sales
0       2127.64
1       4225.98
2        958.76
3       2743.78
4       1462.06
..          ...
95      1548.40
96       296.82
97      2018.02
98       413.28
99      3041.64

[100 rows x 7 columns]